body{
    background-color:cadetblue;
}
ul{
    display: flex;
    flex-direction: row;
    margin-left: 500px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:hover{
    background-color:hotpink;
}
.navigation{
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
}
#form-m{
    text-align: center;
    margin-left: 350px;
    margin-right: -350px;
    margin-top: 0px;
}
.container-f{
    text-align: center;
    background-color:rgb(153, 245, 245);
    width: 100%;


}
#header{
    text-align: center;
    background-color:rgb(153, 245, 245);
    width: 100%;

}


footer>img{
    margin-top: 10px;
}
.btn-primary{
    margin-top: 10px;
}