body{
    background-color: blue;
}
#car1{
   background-image: url("../img/car1.jpg");
}
#car2{
    background-image: url("../img/car2.jpg");
}
#car3{
    background-image: url("../img/car3.jpg");
}
#car4{
    background-image: url("../img/car4.jpg");
}
#car5{
    background-image: url("../img/car5.jpg");
}
#car6{
    background-image: url("../img/car6.jpg");
}
#car7{
    background-image: url("../img/car7.jpg");
}
#car8{
    background-image: url("../img/car8.jpg");
}
#car9{
    background-image: url("../img/car9.jpg");
}
#car10{
    background-image: url("../img/car10.jpg");
}
#car11{
    background-image: url("../img/car11.jpg");
}
#car12{
    background-image: url("../img/pexels-mike-116675.jpg");
}
