body{
    background-color: cadetblue;
}
ul{
    display: flex;
    flex-direction: row;
    margin-left: 500px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: cyan;
}
.navigation{
    margin: 10px;
    font-size: 20px;
    font-weight: bolder;
}
.btn-primary{
    margin: 10px;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
}
#car1{
   background-image: url("../img/car1.jpg");
   width: 200px;
   height: 200px;
   background-size: 200px 200px;
   margin-right: 10px;
}
#car2{
    background-image: url("../img/car2.jpg");
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    margin-right: 10px;
}
#car3{
    background-image: url("../img/car3.jpg");
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    margin-right: 10px;
}
#car4{
    background-image: url("../img/car4.jpg");
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    margin-right: 10px;
}
#car5{
    background-image: url("../img/car5.jpg");
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    margin-right: 10px;
}
#car6{
    background-image: url("../img/car6.jpg");
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    margin-right: 10px;
}
#car7{
    background-image: url("../img/car7.jpg");
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    margin-right: 10px;
}
#car8{
    background-image: url("../img/car8.jpg");
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    margin-right: 10px;
}
#car9{
    background-image: url("../img/car9.jpg");
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    margin-right: 10px;
}
#car10{
    background-image: url("../img/car10.jpg");
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    margin-right: 10px;
}
#car11{
    background-image: url("../img/car11.jpg");
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    margin-right: 10px;
}
#car12{
    background-image: url("../img/pexels-mike-116675.jpg");
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    margin-right: 10px;
}
p{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 5px;
}
.col-sm-3{
    margin-bottom: 10px;
    margin-top: 10px;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.3);
}
.details{
    margin-top: 0px;
    margin-left: -11px;
    color: cyan;
    border: 1px solid rgb(174, 117, 248);;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    width: 200px;
    height: 200px;
}


form #srch{
    display: flex;
    flex-direction: row;
    justify-content: right;
    float: right;
}
#search{
    margin-top: 10px;
    display: flex;
}
#icon1{
    background-color: white;
    width: 22px;
    height: 30px;
}
.btn-primary{
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.model{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    border: 2px solid black;
    
}
/*.model a{
    color: black;
    display: block;
}*/
.model a:hover{
    background-color: #f1f1f1
}
/*.btn-primary:hover .model{
    display: block;
}*/
.btn-primary:hover span{
    background-color: #3e8e41;
}